.TopList {
  padding: 1rem;

  list-style: none;
  display: flex;
  flex-direction: column;
  border: 5px solid #1c1c1c;
  border-radius: 0.5rem;
  overflow: hidden;
}

.TopListItem {
  display: flex;
  align-items: center;
  height: 140px;
  padding: 1rem 2rem;
  line-height: 1;
  color: whitesmoke;
  transition: 0.5s;
}
.TopListItem:hover {
  color: white;
}

.TopListItem *:not(:last-child) {
  margin-right: 1rem;
}

.TopListItem img {
  border: 1px solid #1c1c1c;
  max-height: 100px;
  max-width: 80px;
  min-width: 80px;
}
.rank {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin-right: 1.5rem !important;
  font-size: 1.5rem;
}
.rank:hover {
  border: 2px solid #6e80f3;
}
@media screen and (max-width: 768px) {
  .rank {
    padding: 0.4rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    margin-right: 1rem !important;
    font-size: 1.5rem;
  }
  .TopList {
    padding: 0.1rem;
    overflow-x: scroll;
  }
}
