@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background: url("./assets/bg1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; */

  background-color: #161719;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
.brand-title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex: 0 0 19%;
}
.navbar {
  height: 90px;
  justify-content: center;
  padding: 0 3rem;
}

.img-container {
  display: inline-block;
  width: 2.5rem;
  height: 100%;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.my-class {
  margin-left: 3rem !important;
  font-size: 2rem;
}
.menu {
  flex: 0 0 25%;
  display: flex;
  justify-content: space-evenly;
  padding-right: 2rem;
}
.menu button {
  font-size: 1.2rem;
  color: white;
  font-family: inherit;
  background: transparent !important;
}
.search-bar {
  flex: 1;
}
.search-bar input {
  width: 100%;
  padding: 0.4rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  border: none !important;
  outline: none !important;
}
.full {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  max-width: 1680px;
  height: fit-content;
  display: flex;
}
.slider {
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.slider .prev,
.slider .next {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  text-align: center;
}
.slider .next {
  left: auto;
  right: 0;
}
.full .main {
  height: 100%;
}
.full .left {
  flex: 1;
}
.full .right {
  flex: 0 0 25%;
  margin-left: 3rem;
}
.carousel,
.carousel .container,
.carousel .container > div,
.carousel .container > div > div,
.carousel ul,
.carousel li {
  height: 100%;
}
